 #draggable { width: 150px; height: 150px; padding: 0.5em; }

#draggable1 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }

 #droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }

   #resizable { width: 150px; height: 150px; padding: 0.5em; }
  #resizable h3 { text-align: center; margin: 0; }


    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 0 3px; padding: 0.4em; padding-left: 1.5em;  height: 38px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

  .sort span{

  	font-size: 10px;
  }

      .toggler { width: 500px; height: 200px; position: relative; }
    #button { padding: .5em 1em; text-decoration: none; }
    #effect { width: 240px;  padding: 1em; border: 1px solid #000; background: #eee; color: #333; }
    .newClass { text-indent: 40px; letter-spacing: .4em; width: 410px;  padding: 30px; margin: 10px; font-size: 1.1em; }


    